{::nomarkdown}
</div>
{:/nomarkdown}

<div class="bg-image" style="background-image: url('{{ include.image-url }}'); height: {{ include.height }}vh">
  <h1 id="page-title">{{ include.title}}</h1>
  <h2 id="page-subtitle">{{ include.text }}</h2>

  {% if include.box-content %}

    <div style="height: {{ include.pre-box-space }}vh">
      &nbsp;
    </div>

    <div class="bg-text-box">
      {{ include.box-content }}
    </div>

  {% endif %}


</div>

{::nomarkdown}
<div class="container">
{:/nomarkdown}
