/*****************************************************
BACKGROUNDs
*****************************************************/

.bg-image {
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This makes the background fixed while scrolling */
    height: 250vh; /* Viewport height; set in include code */
    position: relative;
  }
  
  /* Styling the scrolling text box */
  .bg-text-box {
    width:50rem;
    font-size: 2.5rem;
    line-height: 4.2rem;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 85vh;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for text box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }
  
  
  .bg-multi-container {
    position: relative;
    height: auto;
  }
  
  .bg-multi {
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    z-index: 0; /* Keeps the background behind the text */
  }
  
  
  /* keep next 3 sections together */
  .sticky_bg_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: blue;
    height:auto;
  }
  
  .sticky_bg {
    width: 100%;
    height: 100vh;
    grid-row: 1;
    grid-column: 1;
    position: sticky;
    top: 0;
    background-image: url("/xanthan/assets/bg-images/image_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sticky_bg_content {
    width: 50%;
    z-index: 0;
    grid-row: 1;
    grid-column: 1;
    margin:auto;
    margin-top: 100vh;
    margin-bottom: 100vh;
    background: yellow;
    background-color: rgba(10, 10, 10, 0.8); /* Slightly transparent background for text box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#fff;
  }
  
  
  
  
  .side-scroll-container {
    width:100%;
    margin: auto 20px;
  
  }
  
  .ss-text-box {
    width:33%;
  }
  
  .ss-image-container {
    float:right;
    width:66%;
    position:sticky;
    top:0;
  }
  
  .ss-image {
  width:100%;
  }
  
  
  .jumbotron {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 2rem;
    opacity:.6;
    text-align:center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    max-height: 60%;
    } 
  
  
  .jumbotron p {
    text-align:center;
  }
  