<!DOCTYPE html>
<html>

{% include page-header.html %}

<body id="home">
  <!-- Google Tag Manager -->
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WQT2MB"
          height="0" width="0" style="display:none;visibility:hidden">
  </iframe>
</noscript>
<script>(function(w,d,s,l,i){
    w[l]=w[l]||[];
    w[l].push({
      'gtm.start':
      new Date().getTime(),event:'gtm.js'}
             );
    var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
    j.async=true;
    j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;
    f.parentNode.insertBefore(j,f);
  }
        )(window,document,'script','dataLayer','GTM-WQT2MB');
</script>
<!-- End Google Tag Manager -->



{% include nav-unm.html %}


<div id="header">
  <div class="container">
    <a href="{{site.baseurl}}index.html">
      <!--<h3>{{page.subtitle}}</h3>-->
    </a>
  </div>
</div>




{% if page.path contains 'essays/' %}
  {% assign essays = site.pages | sort: "title" %}
  {% assign urls = essays | map: 'url' %}
  {% assign page_url = page.url | strip %}
  {% assign current_index = -1 %}
  {% for u in urls %}
    {% if u == page_url %}
      {% assign current_index = forloop.index0 %}
    {% endif %}
  {% endfor %}

  {% assign last_index = urls.size | minus: 1 %}
  {% assign next_index = current_index | plus: 1 %}
  {% assign prev_index = current_index | minus: 1 %}

  {% if current_index > 0 %}
    {% assign prev_url = urls[prev_index] %}
  {% endif %}
  {% if current_index >= 0 and current_index < last_index %}
    {% assign next_url = urls[next_index] %}
  {% endif %}
{% endif %}
 

{% assign headerimage = page.header-image %}
{% assign headertitle = page.header-title %}
{% assign headerheight = page.header-height %}
{% assign backgroundposition = page.background-position %}

{% if headerimage %}

{% include essay-header.html   
  height = headerheight
  image-url = headerimage
  title = headertitle
  background-position = backgroundposition
  prev_url = prev_url
  next_url = next_url
%}

{% endif %}


{% include nav-site.html %}
 
<div id="upper">
  <div class="container">
    <!--UPPER-->
  </div>
</div>
<div id="breadcrumbs">
  <div class="container"></div>
</div>

  <div class="xan-container layout" id="c">
        {{ content }}
  </div>

{% include footer-unm.html %}

{% include page-js.html %}

</body>
</html>
